{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="discover">Discover</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="icon">
                    <a href="https://globalheritagefund.org/" target="_blank">
                        <i class="fa-solid fa-earth-africa"></i>
                    </a>
                </div>
            </div>
            <div class="row" >
                <div class="col-2">
                    <h1>THIS IS<br><span>DISCOVER</span></h1>
                    <p>
                        Africa is the world's second largest continent in terms of area and population density. It covers 6% of the world's surface area and 24.4% of the world's land with an area of ​​30.8 million km² together with the islands considered adjacent to it. With a population of 1 billion people, it hosts 15% of the world's population.
                    </p>
                    <a href="https://www.discoverafrica.com/" target="_blank" class="btn">Explore Now</a>
                </div>
                <div class="col-2">
                    <div class="box">
                        <img src="{% static 'images/Discover+Africa+Transparent.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}